USE [quanlynhahang]
GO
/****** Object:  Table [dbo].[tblBanAn]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanAn](
	[MaBan] [nvarchar](10) NOT NULL,
	[SoGhe] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblBanAn] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDatBan]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDatBan](
	[MaDatBan] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaBan] [nvarchar](10) NOT NULL,
	[TenNguoiDat] [nvarchar](50) NOT NULL,
	[SoNguoi] [int] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[ThoiGian] [datetime] NOT NULL,
	[ThongTinLienHe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DatBan] PRIMARY KEY CLUSTERED 
(
	[MaDatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwBanDat]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwBanDat]
AS
SELECT ba.MaBan,
       ba.SoGhe,
       ba.TrangThai,
       db.TenNguoiDat,
       db.ThoiGian,
       db.SoNguoi,
       db.GhiChu,
       db.ThongTinLienHe
FROM   tblDatBan AS db
       RIGHT OUTER JOIN
       tblBanAn AS ba
       ON db.MaBan = ba.MaBan;

GO
/****** Object:  Table [dbo].[tblChiTietHDTT]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHDTT](
	[MaHD] [int] NOT NULL,
	[MaMon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tblChiTietHDTT] PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChiTietPhieuNhapHang]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietPhieuNhapHang](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[MaHang] [nvarchar](10) NOT NULL,
	[TenHang] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonViTinh] [nvarchar](15) NOT NULL,
	[DonGIa] [float] NOT NULL,
	[HanSuDung] [date] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChucVu]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChucVu](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHangHoa]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHangHoa](
	[MaHang] [nvarchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[HanSuDung] [date] NOT NULL,
	[DonViTinh] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoaDonThanhToan]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDonThanhToan](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaBan] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[PhuongThucTT] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_HoaDonThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoaiMon]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiMon](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMonAn]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonAn](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
	[DonGia] [int] NOT NULL,
	[DonViTinh] [nvarchar](15) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaLoai] [int] NOT NULL,
 CONSTRAINT [PK_ThucDon] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhaCungCap]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaCungCap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [nvarchar](12) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[MaCV] [nvarchar](10) NOT NULL,
	[MatKhau] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPhieuNhapHang]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuNhapHang](
	[MaPhieuNhap] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_PhieuNhapKho_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrangThaiBan]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrangThaiBan](
	[MaTrangThai] [nvarchar](10) NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblTrangThaiBan] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblBanAn] ([MaBan], [SoGhe], [TrangThai]) VALUES (N'Bàn 23', 10, N'Trống')
INSERT [dbo].[tblBanAn] ([MaBan], [SoGhe], [TrangThai]) VALUES (N'Bàn 24', 10, N'Đã đặt trước')
INSERT [dbo].[tblBanAn] ([MaBan], [SoGhe], [TrangThai]) VALUES (N'Bàn 25 ', 10, N'Trống')
GO
SET IDENTITY_INSERT [dbo].[tblChiTietHDTT] ON 

INSERT [dbo].[tblChiTietHDTT] ([MaHD], [MaMon], [SoLuong], [MaCT]) VALUES (3, 4, 2, 1)
INSERT [dbo].[tblChiTietHDTT] ([MaHD], [MaMon], [SoLuong], [MaCT]) VALUES (3, 5, 1, 2)
INSERT [dbo].[tblChiTietHDTT] ([MaHD], [MaMon], [SoLuong], [MaCT]) VALUES (3, 37, 1, 3)
SET IDENTITY_INSERT [dbo].[tblChiTietHDTT] OFF
GO
INSERT [dbo].[tblChucVu] ([MaCV], [TenCV]) VALUES (N'CV01', N'Nhân viên phục vụ')
INSERT [dbo].[tblChucVu] ([MaCV], [TenCV]) VALUES (N'CV02', N'Nhân viên thu ngân')
INSERT [dbo].[tblChucVu] ([MaCV], [TenCV]) VALUES (N'CV03', N'Nhân viên bếp')
GO
SET IDENTITY_INSERT [dbo].[tblDatBan] ON 

INSERT [dbo].[tblDatBan] ([MaDatBan], [MaNV], [MaBan], [TenNguoiDat], [SoNguoi], [GhiChu], [ThoiGian], [ThongTinLienHe]) VALUES (14, N'nv01', N'Ban06', N'Duy hưng', 3, N'', CAST(N'2044-02-03T08:14:00.000' AS DateTime), N'sdddssd')
INSERT [dbo].[tblDatBan] ([MaDatBan], [MaNV], [MaBan], [TenNguoiDat], [SoNguoi], [GhiChu], [ThoiGian], [ThongTinLienHe]) VALUES (15, N'nv01', N'Ban09', N'Hà Cường', 3, N'', CAST(N'2040-07-12T04:30:00.000' AS DateTime), N'@gmail')
INSERT [dbo].[tblDatBan] ([MaDatBan], [MaNV], [MaBan], [TenNguoiDat], [SoNguoi], [GhiChu], [ThoiGian], [ThongTinLienHe]) VALUES (16, N'nv01', N'Bàn 24', N'Cảnh', 8, N'', CAST(N'2019-06-21T02:20:00.000' AS DateTime), N'05445')
SET IDENTITY_INSERT [dbo].[tblDatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[tblHoaDonThanhToan] ON 

INSERT [dbo].[tblHoaDonThanhToan] ([MaHD], [MaBan], [MaNV], [PhuongThucTT], [NgayThanhToan], [TrangThai]) VALUES (3, N'Ban20', N'NV01', N'chuyển khoản', NULL, 0)
INSERT [dbo].[tblHoaDonThanhToan] ([MaHD], [MaBan], [MaNV], [PhuongThucTT], [NgayThanhToan], [TrangThai]) VALUES (4, N'ban19', N'nv01', N'tiền mặt', NULL, 0)
INSERT [dbo].[tblHoaDonThanhToan] ([MaHD], [MaBan], [MaNV], [PhuongThucTT], [NgayThanhToan], [TrangThai]) VALUES (5, N'ban18', N'nv01', N'ti?n m?t', NULL, 0)
SET IDENTITY_INSERT [dbo].[tblHoaDonThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[tblLoaiMon] ON 

INSERT [dbo].[tblLoaiMon] ([MaLoai], [TenLoai]) VALUES (1, N'Khai vị')
INSERT [dbo].[tblLoaiMon] ([MaLoai], [TenLoai]) VALUES (2, N'Súp')
INSERT [dbo].[tblLoaiMon] ([MaLoai], [TenLoai]) VALUES (3, N'Món chính')
SET IDENTITY_INSERT [dbo].[tblLoaiMon] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMonAn] ON 

INSERT [dbo].[tblMonAn] ([MaMon], [TenMon], [DonGia], [DonViTinh], [MoTa], [MaLoai]) VALUES (1, N'Súp gà nấm', 50000, N'tô', NULL, 2)
INSERT [dbo].[tblMonAn] ([MaMon], [TenMon], [DonGia], [DonViTinh], [MoTa], [MaLoai]) VALUES (2, N'Súp cua gà', 70000, N'tô', NULL, 2)
INSERT [dbo].[tblMonAn] ([MaMon], [TenMon], [DonGia], [DonViTinh], [MoTa], [MaLoai]) VALUES (3, N'Súp tom yum', 90000, N'tô', NULL, 2)
SET IDENTITY_INSERT [dbo].[tblMonAn] OFF
GO
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [NgaySinh], [SDT], [Email], [GioiTinh], [MaCV], [MatKhau]) VALUES (N'NV01', N'Nguyễn Duy Hưng', CAST(N'2003-11-08' AS Date), N'0986435177', NULL, N'Nam', N'CV01', N'1111')
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [NgaySinh], [SDT], [Email], [GioiTinh], [MaCV], [MatKhau]) VALUES (N'NV02', N'Hà Trọng Cường', CAST(N'2001-11-04' AS Date), N'0475125896', NULL, N'Nam', N'CV02', N'1111')
INSERT [dbo].[tblNhanVien] ([MaNV], [TenNV], [NgaySinh], [SDT], [Email], [GioiTinh], [MaCV], [MatKhau]) VALUES (N'NV03', N'Dương Ngọc Cảnh', CAST(N'2003-07-05' AS Date), N'0123645678', NULL, N'Nam', N'CV03', N'1111')
GO
INSERT [dbo].[tblTrangThaiBan] ([MaTrangThai], [TenTrangThai]) VALUES (N'TT01', N'Trống')
INSERT [dbo].[tblTrangThaiBan] ([MaTrangThai], [TenTrangThai]) VALUES (N'TT02', N'Đã đặt')
INSERT [dbo].[tblTrangThaiBan] ([MaTrangThai], [TenTrangThai]) VALUES (N'TT03', N'Đang sử dụng')
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan] ADD  CONSTRAINT [df_NgayTTHD]  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan] ADD  CONSTRAINT [DF_tblHoaDonThanhToan_TrangThai]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[tblPhieuNhapHang] ADD  CONSTRAINT [df_NgayLapPNKho]  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[tblChiTietHDTT]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHDTT_tblHoaDonThanhToan] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tblHoaDonThanhToan] ([MaHD])
GO
ALTER TABLE [dbo].[tblChiTietHDTT] CHECK CONSTRAINT [FK_tblChiTietHDTT_tblHoaDonThanhToan]
GO
ALTER TABLE [dbo].[tblChiTietHDTT]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHDTT_tblMonAn] FOREIGN KEY([MaMon])
REFERENCES [dbo].[tblMonAn] ([MaMon])
GO
ALTER TABLE [dbo].[tblChiTietHDTT] CHECK CONSTRAINT [FK_tblChiTietHDTT_tblMonAn]
GO
ALTER TABLE [dbo].[tblChiTietPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuNhapHang_tblHangHoa] FOREIGN KEY([MaHang])
REFERENCES [dbo].[tblHangHoa] ([MaHang])
GO
ALTER TABLE [dbo].[tblChiTietPhieuNhapHang] CHECK CONSTRAINT [FK_tblChiTietPhieuNhapHang_tblHangHoa]
GO
ALTER TABLE [dbo].[tblChiTietPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuNhapHang_tblPhieuNhapHang] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[tblPhieuNhapHang] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[tblChiTietPhieuNhapHang] CHECK CONSTRAINT [FK_tblChiTietPhieuNhapHang_tblPhieuNhapHang]
GO
ALTER TABLE [dbo].[tblDatBan]  WITH CHECK ADD  CONSTRAINT [FK_tblDatBan_tblBanAn] FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBanAn] ([MaBan])
GO
ALTER TABLE [dbo].[tblDatBan] CHECK CONSTRAINT [FK_tblDatBan_tblBanAn]
GO
ALTER TABLE [dbo].[tblDatBan]  WITH CHECK ADD  CONSTRAINT [FK_tblDatBan_tblNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblDatBan] CHECK CONSTRAINT [FK_tblDatBan_tblNhanVien]
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonThanhToan_tblBanAn] FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBanAn] ([MaBan])
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan] CHECK CONSTRAINT [FK_tblHoaDonThanhToan_tblBanAn]
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonThanhToan_tblNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan] CHECK CONSTRAINT [FK_tblHoaDonThanhToan_tblNhanVien]
GO
ALTER TABLE [dbo].[tblMonAn]  WITH CHECK ADD  CONSTRAINT [FK_tblMonAn_tblLoaiMon] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[tblLoaiMon] ([MaLoai])
GO
ALTER TABLE [dbo].[tblMonAn] CHECK CONSTRAINT [FK_tblMonAn_tblLoaiMon]
GO
ALTER TABLE [dbo].[tblNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tblNhanVien_tblChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[tblChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[tblNhanVien] CHECK CONSTRAINT [FK_tblNhanVien_tblChucVu]
GO
ALTER TABLE [dbo].[tblPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuNhapHang_tblNhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tblNhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[tblPhieuNhapHang] CHECK CONSTRAINT [FK_tblPhieuNhapHang_tblNhaCungCap]
GO
ALTER TABLE [dbo].[tblPhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuNhapHang_tblNhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[tblPhieuNhapHang] CHECK CONSTRAINT [FK_tblPhieuNhapHang_tblNhanVien]
GO
ALTER TABLE [dbo].[tblBanAn]  WITH CHECK ADD CHECK  (([TrangThai]=N'Đã đặt trước' OR [TrangThai]=N'Đang sử dụng' OR [TrangThai]=N'Trống'))
GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhap]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DangNhap]
@manv NVARCHAR (50), @mk NVARCHAR (50)
AS
BEGIN
    IF EXISTS (SELECT *
               FROM   tblNhanVien
               WHERE  MaNV = @manv
                      AND MatKhau = @mk
                      AND macv = 'cv01')
        SELECT 1;
    ELSE
        IF EXISTS (SELECT *
                   FROM   tblNhanVien
                   WHERE  MaNV = @manv
                          AND MatKhau = @mk
                          AND macv = 'cv02')
            SELECT 2;
        ELSE
            IF EXISTS (SELECT *
                       FROM   tblNhanVien
                       WHERE  MaNV = @manv
                              AND MatKhau = @mk
                              AND macv = 'cv03')
                SELECT 3;
            ELSE
                SELECT 0;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LayDSBan]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayDSBan]
AS
SELECT *
FROM   tblBanAn;

GO
/****** Object:  StoredProcedure [dbo].[SP_LayDSDat]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayDSDat]
AS
BEGIN
    SELECT ba.MaBan,
           ba.SoGhe,
           ba.TrangThai,
           db.TenNguoiDat,
           db.ThoiGian,
           db.SoNguoi,
           db.GhiChu,
           db.ThongTinLienHe
    FROM   tblDatBan AS db
           RIGHT OUTER JOIN
           tblBanAn AS ba
           ON db.MaBan = ba.MaBan;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ThemCTHD]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemCTHD]
@mahd int, @mamon int, @sl int 
AS
BEGIN
	declare @cthdTonTai int
	declare @demMon int = 1
	
	select @cthdTonTai = c.mact, @demMon = c.SoLuong 
	from tblChiTietHDTT as c 
	where c.MaHD = @mahd and mamon = @mamon

	if(@cthdTonTai > 0)

	begin
		declare @newDem int = @demMon + @sl
		if (@newDem > 0)
 			update tblChiTietHDTT set SoLuong = @demMon + @sl 
			WHERE MaMon = @mamon
		else
			delete tblChiTietHDTT where MaHD = @mahd and MaMon = @mamon
	end
	else
	begin
		INSERT tblChiTietHDTT(mahd, mamon, soluong)
		VALUES (@mahd, @mamon, @sl)
	end
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemHD]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemHD]
@maban nvarchar(50),
@manv nvarchar(50)
AS
BEGIN
    INSERT tblHoaDonThanhToan (maban, manv, phuongthuctt, ngaythanhtoan, trangthai)
	VALUES (@maban, @manv, NULL, NULL, 0)
END;
GO
/****** Object:  Trigger [dbo].[TG_trangthaiban]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_trangthaiban]
    ON [dbo].[tblDatBan]
    AFTER INSERT
    AS BEGIN
           UPDATE tblBanAn
           SET    TrangThai = N'Đã đặt trước'
           FROM   tblBanAn
                  INNER JOIN
                  inserted AS i
                  ON tblBanAn.MaBan = i.MaBan;
       END

GO
ALTER TABLE [dbo].[tblDatBan] ENABLE TRIGGER [TG_trangthaiban]
GO
/****** Object:  Trigger [dbo].[TG_sudungban]    Script Date: 25/05/2024 03:42:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TG_sudungban]
    ON [dbo].[tblHoaDonThanhToan]
    AFTER INSERT, UPDATE
    AS BEGIN
           UPDATE tblbanan
           SET    TrangThai = N'Đang sử dụng'
           FROM   tblBanAn AS b
                  INNER JOIN
                  inserted AS i
                  ON b.MaBan = i.MaBan
           WHERE  i.TrangThai = 0;
       END
GO
ALTER TABLE [dbo].[tblHoaDonThanhToan] ENABLE TRIGGER [TG_sudungban]
GO
